.header {
  height: 76px;
  width: 100%;
  background-color: cornflowerblue;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
